@model Renan.GlassLewis.Service.CompaniesUseCases.Models.CreateCompanyModel

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>CreateCompanyModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="All"></div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Exchange" class="control-label"></label>
                <input asp-for="Exchange" class="form-control"/>
                <span asp-validation-for="Exchange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isin" class="control-label"></label>
                <input asp-for="Isin" class="form-control"/>
                <span asp-validation-for="Isin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticker" class="control-label"></label>
                <input asp-for="Ticker" class="form-control"/>
                <span asp-validation-for="Ticker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebSite" class="control-label"></label>
                <input asp-for="WebSite" class="form-control"/>
                <span asp-validation-for="WebSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
